<section class="bg-seaBlue bg-opacity-30 text-white font-montserrat p-14">
  <div class="container mx-auto px-6">
    <h2 class="font-montserrat font-bold text-2xl mb-8">First class lounge networking, or why we are slightly higher priced</h2>
    <p class="mb-1 text-cream">We are just a little more expensive than others! And that's on purpose. It matters to us a lot who we travel with.</p>
    <p class="mb-1 text-cream">We want you to hang out with cool people, share vibes, and walk out with memories and friendships of a lifetime. Maybe you even share a hotel room with a travel buddy for a few days.</p>
    <p class="text-cream">Do you really want to be spending this precious time with the cheapest-item-on-the-menu-chasers? Or would you rather enjoy your time with a more sophisticated crowd? Think of it like networking in the first class lounge of the airport.</p>
  </div>
</section> 
